/* toolbar */
.toolbar_button button{
	padding:0;
	text-align:center;
}
.logo{
	background:url(webix-logo.svg) 2px 2px no-repeat;
}
/* list of patients */
.userphoto{
	display:inline-block;
	border-radius:25px;
	width:48px;
	height:48px;
	float:left;
}
.text {
	padding:4px 4px 4px 16px;
	display:inline-block;
}
.username{
	font-size:14px;
	letter-spacing:0.2px;
	color:#313131;
	font-weight:500;
	line-height:20px;
	display:block;
}
.patient{
	color:#475466;
	display:block;
	letter-spacing:0.2px;
	line-height:20px; 
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected{
	padding:8px 12px;
}
/* notifications */
.notifications .webix_list_item,
.notifications .webix_list_item.webix_selected{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight:500;
	color:#313131;
}
.notifications .webix_list_item .message{
	display:block;
	color:#475466;
}
/* form */
.webix_view.form_photo > div{
	padding:6px 0px 0px 0px;
}
/* headers (templates) */
.webix_view.chart_header{
	text-align:center;
}
/* grid */
.webix_icon.mdi-star.gold{
	color:gold;
}
.webix_icon.mdi-star.grey{
	color:lightgrey;
}
/* iframes */
.webix_view.ifr_template > .webix_disabled{
	opacity:1 !important;
}
/* login form */
.link .webix_template a{
	color:rgb(28, 161, 193);
	text-decoration:none;
}
.link .webix_template a:hover{
	color:rgb(28, 193, 193);
}
.link .webix_template a:active{
	color:rgb(21, 124, 150);
}
/* profile menu */
.webix_list.profile_menu .webix_list_item{
	border:none;
}
/* profile */
.webix_el_label.doc_main .doc_name,
.webix_el_label.doc_main .doc_field{
	display:block;
}
.webix_el_label.doc_main .doc_name{
	font-size:16px;
}
.webix_el_label.doc_main{
	text-align:center;
}
.webix_view.profile_photo > div{
	padding:0px 0px 0px 0px;
}
.webix_dataview_inner_item .criterion{
	display:block;
	font-weight:500;
}
.webix_dataview_inner_item .stars .star{
	margin-left:-4px;
	font-size:18px;
}

.reviews .webix_dataview_item.tiles .webix_dataview_inner_item{
	padding:12px;
}