/* toolbar */
.toolbar_button button{
	padding:0;
	text-align:center;
}
.logo{
	background:url(webix-logo.svg) 2px 2px no-repeat;
}
/* list of patients */
.userphoto, .doctorphoto{
	display:inline-block;
	border-radius:25px;
	width:48px;
	height:48px;
	float:left;
}
.text{
	padding:4px 4px 4px 16px;
	display:inline-block;
}
.username, .doctorname{
	font-size:14px;
	letter-spacing:0.2px;
	color:#313131;
	font-weight:500;
	line-height:20px;
	display:block;
}
.patient, .field{
	color:#475466;
	display:block;
	letter-spacing:0.2px;
	line-height:20px; 
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected{
	padding:8px 12px;
}
/* notifications */
.notifications .webix_list_item,
.notifications .webix_list_item.webix_selected{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight:500;
	color:#313131;
}
.notifications .webix_list_item .message{
	display:block;
	color:#475466;
}
/* form */
.webix_view.form_photo > div{
	padding:6px 0px 0px 0px;
}
/* headers (templates) */
.webix_view.chart_header{
	text-align:center;
}
/* grid */
.webix_icon.mdi-star.gold{
	color:gold;
}
.webix_icon.mdi-star.grey{
	color:lightgrey;
}
/* iframes */
.webix_view.ifr_template > .webix_disabled{
	opacity:1 !important;
}
/* login form */
.link .webix_template a{
	color:rgb(28, 161, 193);
	text-decoration:none;
}
.link .webix_template a:hover{
	color:rgb(28, 193, 193);
}
.link .webix_template a:active{
	color:rgb(21, 124, 150);
}
/* profile menu */
.webix_list.profile_menu .webix_list_item{
	border:none;
}
/* profile */
.webix_el_label.doc_main .doc_name,
.webix_el_label.doc_main .doc_field{
	display:block;
}
.webix_el_label.doc_main .doc_name{
	font-size:16px;
}
.webix_el_label.doc_main{
	text-align:center;
}
.webix_view.profile_photo > div,
.webix_view.friend_photo > div{
	padding:0px 0px 0px 0px;
}
.webix_dataview_inner_item .criterion{
	display:block;
	font-weight:500;
}
.webix_dataview_inner_item .stars .star{
	margin-left:-4px;
	font-size:18px;
}
.reviews .webix_dataview_item.tiles .webix_dataview_inner_item{
	padding:12px;
}
.status{
	position: relative;
	top:-50px;
	left:-30px;
	font-size:12px !important;
}
.status.online, .webix_icon.mdi.mdi-toggle-switch{
	color:#8BC34A;
}
.status.offline{
	color:#FF9800;
}
.profile_templates .webix_template{
	padding:0px 0px 0px 10px;
}
.webix_view.profile_templates{
	margin-top:0px !important;
}
.schedule{
	float:left;
	margin-right:20px;
}
.days{
	margin-bottom:6px;
}
.skill, .qualification_step{
	margin-bottom:4px;
}
.year{
	float:right;
	font-weight:500;
}
.friend_photo{
	display:inline-block;
	border-radius:50px;
	float:left;
}
.webix_template .event_details{
	font-weight:500;
	color:#1ca1c1;
	cursor:pointer;
}
.activity_text{
	position: relative;
	top:12px;
}
.webix_el_label.about_label{
	padding-left:8px;
}
.webix_icon.mdi.mdi-pencil{
	color:#1ca1c1;
}